
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
}

.nameList {
  color: #000;
}

.list-group-item a:hover {
  text-decoration: none !important;

}
